/* smplOS EWW Theme Colors -- default (catppuccin) */
/* This file is overwritten by theme-set when themes are changed. */
/* It provides initial values so EWW can compile on first boot.   */
$theme-bg: #1e1e2e;
$theme-bg-light: #45475a;
$theme-bg-lighter: #585b70;
$theme-fg: #cdd6f4;
$theme-fg-dim: #a6adc8;
$theme-accent: #89b4fa;
$theme-accent-alt: #f5c2e7;
$theme-success: #a6e3a1;
$theme-danger: #f38ba8;
$theme-warning: #f9e2af;
$theme-warning-alt: #f9e2af;
$theme-info: #94e2d5;
